{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    {% block content %}
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h4 class="card-title m-0">Prediksi</h4>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Metode Algoritma Long Short Term Memory (LSTM)</h6>

                            <p class="card-text">
                            </p>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h4 class="card-title m-0">Klasifikasi</h4>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Metode Metode Algoritma Long Short Term Memory (LSTM)</h6>
                            <p class="card-text"></p>
                            <p class="card-text">Long Short Term Memory (LSTM) merupakan salah satu jenis arsitektur dari Recurrent Neural Network (RNN) yang biasa digunakan pada masalah-masalah yang berkaitan dengan deep learning.</p>
                            <p class="card-text"></p>
                            <p class="card-text">Sistem LSTM penyimpanan data yang dapat memproses, memprediksi, dan mengklasifikasikan informasi yang telah disimpan dalam jangka waktu lama sekali pun. </p>

                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% include 'footer.html' %}